<template>
  <div id="app">
    <Socket :url="socketUrl" @message="onMessage" @opened="isOpened" @closed="isClosed">
      <template slot-scope="{ send }">
        <Dialog v-model="username" v-if="!username" :send="send" />
        <Messages :messages="messages" />
        <SenderInput :send="send" />
      </template>
    </Socket>
  </div>
</template>

<script>
import Socket from 'socket-component'

const Dialog = () => import('../components/Dialog.vue')
const SenderInput = () => import('../components/SenderInput.vue')
const Messages = () => import('../components/Messages.vue')
export default {
  components: {
    Dialog,
    SenderInput,
    Messages,
    Socket
  },
  data() {
    return {
      socketUrl: 'ws://localhost:9000',
      messages: [],
      username: '',
      connected: false
    }
  },
  methods: {
    onMessage(message) {
      if (message.type === 'history') {
        this.messages = message.data
      } else if (message.type === 'message') {
        this.messages.push(message.data)
      }
    },
    isOpened() {
      this.connected = true
    },
    isClosed() {
      this.connected = false
      this.username = ''
    }
  }
}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  appearance: none;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #ededed;
  overflow: hidden;
}

#app {
  padding: 16px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
}

.socket {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 16px;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 8px;
}
</style>
