<template>
  <div class="dialog-wrapper">
    <div class="dialog">
      <InputField v-model="username" label="Enter your username" @enter="sendUsername" />
      <button class="dialog__submit" @click="sendUsername">Send</button>
    </div>
  </div>
</template>

<script>
const InputField = () => import('./InputField.vue')
export default {
  components: {
    InputField
  },
  props: {
    send: Function
  },
  data() {
    return {
      username: ''
    }
  },
  methods: {
    sendUsername() {
      this.send({
        type: 'username',
        text: this.username
      })
      this.$emit('input', this.username)
    }
  }
}
</script>

<style scoped lang="scss">
$border-default: 1px solid rgba(0, 0, 0, 0.3);
.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: grid;
  align-items: center;
  justify-content: center;

  .dialog {
    display: grid;
    grid-template-columns: 5fr 100px;
    grid-gap: 16px;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    border: $border-default;

    &__submit {
      border-radius: 8px;
      border: $border-default;
      cursor: pointer;
    }
  }
}
</style>
