<template>
  <div class="input-field">
    <label for="input" :class="labelClasses">{{ label }}</label>
    <input
      id="input"
      class="input-field__input"
      type="text"
      :value="value"
      @focus="onFocus"
      @blur="onBlur"
      @input="onInput"
      @keydown.enter="onEnter"
    />
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    label: String
  },
  data() {
    return {
      focus: false,
      text: ''
    }
  },
  computed: {
    labelClasses() {
      return {
        'input-field__label': true,
        'input-field__label--active': this.focus || this.text.length > 0
      }
    }
  },
  methods: {
    onFocus() {
      this.focus = true
    },
    onBlur() {
      this.focus = false
    },
    onInput($event) {
      this.$emit('input', $event.target.value)
      this.text = $event.target.value
    },
    onEnter($event) {
      this.$emit('enter', $event.target.value)
    }
  }
}
</script>

<style scoped lang="scss">
$padding-vertical: 16px;
$padding-horizontal: 8px;
.input-field {
  position: relative;
  &__input {
    position: relative;
    border-radius: 8px;
    font-size: 1em;
    padding: $padding-vertical $padding-vertical;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
  }

  &__label {
    position: absolute;
    z-index: 10;
    top: $padding-vertical;
    left: $padding-vertical;
    pointer-events: none;
    transition: all 0.2s;

    &--active {
      top: 2px;
      font-size: 0.75em;
    }
  }
}
</style>
