<template>
  <div ref="messages" class="messages">
    <div class="messages__row" v-for="(message, index) in messages" :key="index">
      <div class="messages__user">
        {{ message.user }}
      </div>
      <div class="messages__text">
        {{ message.text }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    messages: Array
  },
  watch: {
    messages: {
      deep: true,
      handler() {
        this.updateScroll()
      }
    }
  },
  mounted() {
    setTimeout(() => {
      this.updateScroll()
    }, 50)
  },
  methods: {
    updateScroll() {
      const element = this.$refs['messages']
      this.$nextTick(() => {
        element.scrollTop = element.scrollHeight
      })
    }
  }
}
</script>

<style scoped lang="scss">
.messages {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow-y: auto;

  &__user {
    font-weight: bold;
  }

  &__row {
    display: grid;
    grid-template-columns: 100px auto;
    padding: 16px;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
</style>
