<template>
  <div class="sender-input">
    <InputField v-model="message" label="Enter you message" @enter="sendMessage" />
    <button class="sender-input__submit" @click="sendMessage">Send</button>
  </div>
</template>

<script>
const InputField = () => import('./InputField.vue')
export default {
  components: { InputField },
  props: {
    send: Function
  },
  data() {
    return {
      message: ''
    }
  },
  methods: {
    sendMessage() {
      if (this.message.length > 0) {
        this.send(this.message)
        this.message = ''
      }
    }
  }
}
</script>

<style scoped lang="scss">
$border-default: 1px solid rgba(0, 0, 0, 0.3);
.sender-input {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-gap: 16px;

  &__submit {
    border-radius: 8px;
    border: $border-default;
    cursor: pointer;
  }
}
</style>
